.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--bgSoft);
    cursor: pointer;
}

.container:hover {
    background-color: rgb(48, 48, 48);
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.details {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
    color: red;
}